body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: large;
}

p {
    margin: 10px;
}

form {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
   
}

#inputLang {
    margin-right: 20px;
}